@media screen and (max-width: 1275px) {
    nav, .login-register, .shop-logout {
        display: none;
    }
    .card-promo {
        width: 100%;
    }

    .card {
        width: 45%;
        margin-bottom: 30px;
    }

    .menu-responsive{
        display: flex;
        position: absolute;
        top: 5%;
        right: 10%;
        min-width: 10%;
    }
}

@media screen and (max-width: 950px) {

    .title-promocoes img , .title-products img{
        display: none;
    }

    .products{
        padding: 0;
    }
    .area-cards {
        justify-content: center;
    }
    .card {
        width: 60%;
    }
}

@media screen and (max-width: 590px) {
    .products{
        padding: 0;
    }

    .card {
        width: 80%;
    }
}

@media screen and (max-width: 730px) {
    .title-site h1 {
        font-size: 45px;
    }
    
}

@media screen and (max-width: 590px) {
    .card {
        width: 80%;
    }
    .products{
        padding: 0;
    }
}


@media screen and (max-width: 360px) {
    nav, .login-register, .shop-logout {
        display: none;
    }

    .title-site h1 {
        font-size: 40px;
    }

    .call-to-act{
        width: 90%;
        height: 50%;
    }

    .title-promocoes {
        padding-bottom: 0px;
    }

    .title-promocoes h1 {
        font-size: 40px;
        margin-right: 0px;
    }

    .card-promo {
        width: 100%;
    }

    .title-promocoes img {
        display: none;
    }

    .card {
        width: 90%;
    }
}

